@font-face {
    font-family: EMcomic;
    src: url(EMcomic-Regular.ttf);
}

body {
    font-family: "Comic Sans MS", "EMcomic";   
    /* font-family: "EMcomic";  */
    text-align: center;
}

h1 {
    font-size: 60pt;
}

div {
    margin-top: 10px;
}

.btn {
    margin-bottom: 5px;
}

.buttonDiv {
    max-width: 600px;
    margin: 0 auto;
}