<html>

<head>
  <title>Flash Cards</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="flashcards.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

  <style>

  </style>
  <script>
    var myApp = angular.module("myApp", []);

    myApp.controller("myCtrl", function ($scope) {
      $scope.arr = [];
      $scope.right = 0;
      $scope.wrong = 0;
      $scope.add = (items) => {
        $scope.arr = $scope.arr.concat(items);
        shuffle($scope.arr);
      }

      /* Adds count random elements from items to the main array */
      $scope.randomAdd = (items, count) => {
        console.log(items);
        console.log(count);
        let lastIndex = -1;
        for (let i = 0; i < count; i++) {
          index = Math.floor(Math.random() * items.length);
          while (items.length > 1 && lastIndex == index) {
            // Never repeat the same card twice in a row
            index = Math.floor(Math.random() * items.length)
          }
          lastIndex = index;
          console.log(items[index]);
          $scope.arr.push(items[index]);
        }
      }

      $scope.randomAdditionBetween = (min, max, count) => {
        console.log(min);
        console.log(max);
        console.log(count);
        let lastCard = '';
        for (let i = 0; i < count; i++) {
          a = Math.floor(Math.random() * (max - min + 1) + min);
          b = Math.floor(Math.random() * (max - min + 1) + min);
          card = `${a} + ${b}`;
          // Never repeat the same card twice in a row
          while (card === lastCard) {
            a = Math.floor(Math.random() * (max - min + 1) + min);
            b = Math.floor(Math.random() * (max - min + 1) + min);
            card = `${a} + ${b}`;
          }
          lastCard = card;
          console.log(card);
          $scope.arr.push(card);
        }
      }

      /* Creates a flashcard set between min and max, inclusive */
      $scope.randomNumberBetween = (min, max, count) => {
        console.log(min);
        console.log(max);
        console.log(count);
        let lastCard = '';
        for (let i = 0; i < count; i++) {
          a = Math.floor(Math.random() * (max - min + 1) + min);
          card = `${a}`;
          // Never repeat the same card twice in a row
          while (card === lastCard) {
            a = Math.floor(Math.random() * (max - min + 1) + min);
            card = `${a}`;
          }
          lastCard = card;
          console.log(card);
          $scope.arr.push(card);
        }
      }
    });

    function shuffle(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }
  </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <h1 style="min-height: 200px;">
    <span ng-show="arr.length > 0 && !arr[0].startsWith('images/')">{{arr[0]}}</span>
    <span><img ng-if="arr.length > 0 && arr[0].startsWith('images/')" ng-src="{{arr[0]}}"></span>
  </h1>
  <hr>
  <h4>{{arr.length}} items remaining</h4>
  <h4><span style="color: green">{{right}} right</span>, <span style="color: red">{{wrong}} wrong</span></h4>

  <div ng-show="arr.length > 0">
    <button type="button" class="btn btn-lg btn-success" ng-click="arr.shift(); right = right + 1">Right</button>
    <button type="button" class="btn btn-lg btn-danger"
      ng-click="item = arr.shift(); shuffle(arr); arr.push(item); wrong = wrong + 1">Wrong</button>
  </div>
  <hr>
  <div>    
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['oval', 'tall', 'bell', 'owl', 'school', 'mail', 'pole', 'bull', 'whale', 'snail', 'pool', 'apple', 'ball', 'girl', 'elephant', 'salad', 'dollar', 'color', 'police', 'toilet', 'silly', 'hello', 'ladybug', 'leaf', 'letter', 'love', 'lemon', 'llama', 'lotion', 'lion', 'lunch', 'lamb'], 3)">/L/ Speech Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['dig', 'bug', 'slug', 'jog', 'wagon', 'tiger', 'Lego', 'dragon', 'golf', 'game', 'goat', 'good'], 3)">/g/ Speech Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['soccer', 'ticket', 'turkey', 'bacon', 'carrot', 'candy', 'car', 'cup', 'back', 'shark', 'truck', 'snake'], 3)">/k/ Speech Set</button>      
      <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['crunchy', 'nachos', 'kitchen', 'witch', 'chair', 'chicken', 'chalk', 'chase', 'chips', 'lunch', 'touch', 'match', 'catch', 'peach'], 3)">/ch/ Speech Set</button>
      <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['fishbowl', 'flashlight', 'spaceship', 'ship', 'sheep', 'shoes', 'shake', 'shower', 'fish', 'leash', 'trash', 'bush', 'dish'], 3)">/sh/ Speech Set</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary"
      ng-click="add(['shoe', 'show', 'shut', 'ship', 'short', 'fishbowl', 'cashews', 'fish', 'push', 'trash'])">/sh/
      Speech Set</button>
    <button type="button" class="btn btn-primary" ng-click="add(['belt', 'bath', 'cowboy', 'baby', 'crab', 'cube'])">/b/
      Speech Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['this', 'that', 'both', 'moth', 'feather', 'bathtub', 'throw', 'three'])">/th/ Speech
      Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['lion', 'Lego', 'jello', 'silly', 'school', 'pool'])">/l/ Speech Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['sit', 'sock', 'sad', 'listen', 'princess', 'pencil', 'dress', 'bus', 'house'])">/s/ Speech
      Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['rock', 'ring', 'carrot', 'camera', 'bear', 'tiger' ])">/r/ Speech
      Set</button>
  </div>

  <div>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'], 15)">Uppercase
      Letters Learning Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], 15)">Lowercase
      Letters Learning Set</button>
    <button type="button" class="btn btn-primary" ng-click="randomNumberBetween(0, 100, 5)">Numbers Learning Set (0
      - 100)</button>
    <button type="button" class="btn btn-primary" ng-click="randomNumberBetween(10, 1000, 5)">Numbers Learning Set
      (10 - 1000)</button>
      <button type="button" class="btn btn-primary" ng-click="randomNumberBetween(10, 10000, 5)">Numbers Learning Set
        (10 - 10000)</button>
  </div>

  <h4>School Set</h4>
  <div class="buttonDiv">
    <button type="button" class="btn btn-success" ng-click="add(['I', 'a', 'like', 'see', 'go'])">Add set 1</button>
    <button type="button" class="btn btn-success" ng-click="add(['is', 'my', 'the', 'to', 'can'])">Add set
      2</button>
    <button type="button" class="btn btn-success" ng-click="add(['it', 'at', 'he', 'we', 'up'])">Add set 3</button>
    <button type="button" class="btn btn-success" ng-click="add(['on', 'in', 'and', 'so', 'me'])">Add set 4</button>
    <button type="button" class="btn btn-success" ng-click="add(['do', 'you', 'no', 'an', 'am'])">Add set 5</button>
    <button type="button" class="btn btn-success" ng-click="add(['she', 'are', 'yes', 'mom', 'look'])">Add set
      6</button>
    <button type="button" class="btn btn-success" ng-click="add(['by', 'eat', 'was', 'will', 'play'])">Add set
      7</button>
    <button type="button" class="btn btn-success" ng-click="add(['all', 'ball', 'be', 'come', 'as'])">Add set
      8</button>
    <button type="button" class="btn btn-success" ng-click="add(['boy', 'day', 'girl', 'say', 'did'])">Add set
      9</button>
    <button type="button" class="btn btn-success" ng-click="add(['for', 'get', 'got', 'had', 'has'])">Add set
      10</button>
    <button type="button" class="btn btn-success" ng-click="add(['her', 'him', 'how', 'his', 'if'])">Add set
      11</button>
    <button type="button" class="btn btn-success" ng-click="add(['man', 'of', 'not', 'jump', 'now'])">Add set
      12</button>
    <button type="button" class="btn btn-success" ng-click="add(['or', 'out', 'put', 'ran', 'read'])">Add set
      13</button>
    <button type="button" class="btn btn-success" ng-click="add(['run', 'saw', 'sat', 'sit', 'too'])">Add set
      14</button>
    <button type="button" class="btn btn-success" ng-click="add(['then', 'they', 'this', 'us', 'went'])">Add set
      15</button>
  </div>
  <h4>My Set</h4>
  <div class="buttonDiv">
    <button type="button" class="btn btn-success" ng-click="add(['dog', 'cat', 'girl', 'dad', 'but'])">Add my set 1</button> 
    <button type="button" class="btn btn-success" ng-click="add(['with', 'them', 'some'])">Add my set 4</button>
    <button type="button" class="btn btn-success" ng-click="add(['have', 'do', 'right', 'around', 'tooth'])">Add my
      set 6</button>
    <button type="button" class="btn btn-success" ng-click="add(['there', 'little', 'down', 'when'])">Add my set
      7</button>
    <button type="button" class="btn btn-success" ng-click="add(['what', 'were', 'big', 'long', 'came'])">Add my set
      8</button>
    <button type="button" class="btn btn-success" ng-click="add(['said', 'could', 'one', 'ask', 'very'])">Add my set
      9</button>
    <button type="button" class="btn btn-success" ng-click="add(['would', 'over', 'just', 'your', 'into'])">Add my
      set 10</button>
    <button type="button" class="btn btn-success" ng-click="add(['blue', 'red', 'from', 'good', 'any'])">Add my set
      11</button>
    <button type="button" class="btn btn-success" ng-click="add(['its', 'ride', 'about', 'want', 'don\'t' ])">Add my
      set 12</button>
    <button type="button" class="btn btn-success" ng-click="add(['take', 'where', 'four', 'green', 'use'])">Add my
      set 13</button>
    <button type="button" class="btn btn-success" ng-click="add(['know', 'each', 'which', 'many', 'time'])">Add my
      set 14</button>
    <button type="button" class="btn btn-success" ng-click="add(['every', 'pretty', 'two', 'these', 'way'])">Add my
      set 15</button>
    <button type="button" class="btn btn-success" ng-click="add(['make', 'write', 'than', 'who', 'been'])">Add my
      set 16</button>
    <button type="button" class="btn btn-success" ng-click="add(['word', 'may', 'part', 'more'])">Add my set
      17</button>
    <button type="button" class="btn btn-success" ng-click="add(['other', 'more', 'number', 'first', 'find'])">Add
      my set 18</button>
    <button type="button" class="btn btn-success" ng-click="add(['people', 'water', 'call', 'made', 'their'])">Add
      my set 19</button>
    <button type="button" class="btn btn-success" ng-click="add(['also', 'color', 'home', 'must', 'think'])">Add my
      set 20</button>
    <button type="button" class="btn btn-success" ng-click="add(['house', 'name', 'another', 'dear', 'tree'])">Add
      my set 21</button>
  </div>
  <div>

  </div>
  <h4>Music</h4>
  <div>
    <button type="button" class="btn btn-primary"
      ng-click="add(['note', 'whole', 'half', 'measure', 'bar', 'line', 'quarter', 'stem', 'piano', 'forte'])">Music
      words 1</button>
    <button type="button" class="btn btn-primary" ng-click="add(['8va', 'octave', 'rest'])">Music words 2</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['images/a-key.png', 'images/b-key.png', 'images/c-key.png', 'images/d-key.png', 'images/e-key.png', 'images/f-key.png', 'images/g-key.png'], 10)">Music
      Keys</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['images/quarter-rest.png', 'images/p.png', 'images/quarter-note.png', 'images/half-note.png', 'images/whole-note.png', 'images/dotted-half-note.png', 'images/f.png'])">Music
      Symbols</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['images/treble-clef.png', 'images/bass-clef.png', 'images/grand-staff.png'])">Music
      Symbols 2</button>
  </div>
  <h4>Math</h4>
  <div>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['4 - 2', '5 - 2', '6 - 2', '7 - 2', '8 - 2'], 10)">Subtraction set 1</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['3 - 2', '8 - 1', '9 - 1', '10 - 1', '7 - 1', '6 - 1', '5 - 1', '4 - 1', '3 - 1', '2 - 1'])">Subtraction
      set (Learned)</button>
    <button type="button" class="btn btn-primary"
      ng-click="add(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'])">Even or Odd</button>

  </div>
  <div>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['1 + 1', '1 + 2', '2 + 1', '1 + 3', '3 + 1', '1 + 4', '4 + 1', '1 + 5', '5 + 1', '1 + 6', '6 + 1', '7 + 1', '1 + 7', '1 + 8', '8 + 1', '1 + 9', '9 + 1'], 10)">Math
      Set (+1)</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['2 + 2', '3 + 2', '2 + 3', '4 + 2', '2 + 4', '3 + 3', '4 + 3', '3 + 4'], 10)">L
      Learning Set</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['2 + 6', '6 + 2', '4 + 3', '3 + 4', '3 + 6', '6 + 3'], 10)">S Learning Set
      (10)</button>
    <button type="button" class="btn btn-primary"
      ng-click="randomAdd(['2 + 2', '2 + 3', '2 + 4', '2 + 5', '2 + 6', '2 + 7', '2 + 8', '3 + 2', '3 + 3', '3 + 4', '3 + 5', '3 + 6', '3 + 7', '4 + 2', '4 + 3', '4 + 4', '4 + 5', '4 + 6', '5 + 2', '5 + 3', '5 + 4', '5 + 5', '6 + 2', '6 + 3', '6 + 4', '7 + 2', '7 + 3', '8 + 2'], 15)">All
      <= 10 Addition</button> <button type="button" class="btn btn-success"
          ng-click="add(['2 + 7', '7 + 2', '4 + 6', '6 + 4', '8 + 2', '2 + 8', '3 + 7', '7 + 3', '3 + 5', '5 + 3'])">
          S Learned Set</button>
  </div>
  <h4>Other</h4>
  <div>
    <button type="button" class="btn btn-primary" ng-click="add(['Count by 5s', 'Count by 10s'])">Add counting
      set</button>
    <!-- Sentence set requires up to my set 3 to use -->
    <button type="button" class="btn btn-primary"
      ng-click="add(['It is fall.', 'She is a cat.', 'That was his dog.', 'His ball is blue.', 'Mom is a girl.', 'Look at the cat, mom.', 'Yes, I see the dog.'])">Add
      sentence set</button>
    <!-- Sentence set requires up to my set 6 to use -->
    <button type="button" class="btn btn-primary"
      ng-click="add(['I am looking for him.', 'You have a cat.', 'He will go to play ball.', 'I do not see the dog.'])">Add
      sentence set 2</button>
    <!-- Sentence set requires up to my set 15 to use -->
    <button type="button" class="btn btn-primary"
      ng-click="add(['I run to the car.', 'I read to them.', 'They sit on the couch.', 'His cat went to sleep.', 'Put the ball in the box.'])">Add
      sentence set 3</button>
  </div>

  <div>
    <!-- <a href="https://www.musictheory.net/exercises/note/nmxyryo1rj1ynyyydy">Staff to Keyboard Note Identification,
      Bass Clef (15, C - G)</a><br>
    <a href="https://www.musictheory.net/exercises/note/bgkyryo1rjyynyyydy">Staff to Keyboard Note Identification,
      Treble Clef (15, C - G)</a><br>
    <a href="https://www.musictheory.net/exercises/note/bgpyryo1rj1ynyyydy">Staff to Keyboard Note Identification,
      Treble Clef (15, A - G, 1 octave)</a><br>
    <a href="https://www.musictheory.net/exercises/note/nm1yryo1rj1ynyyydy">Staff to Note Identification, Bass Clef
      (15, A - G, 1 octave)</a><br>
    <a href="https://www.musictheory.net/exercises/note/bg1yryo1rj1ynyyydy">Staff to Keyboard Note Identification,
      Treble Clef (15, A - G, 2 octaves)</a><br> -->
    <a href="https://www.musictheory.net/exercises/note/dgoeoyryo1rj1ynyyyry">Note Identification, Treble and Bass Clef,
      Lines and Spaces</a><br>
    <a href="https://www.musictheory.net/exercises/keyboard/y9dyyynyydy">Keyboard to Note Identification (15, A -
      G)</a><br>


  </div>

</body>

</html>